<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Biography:</b>
  <%= @user.biography %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
<b>Posts:</b>
	 
<% @user.posts.each do |post| %>
  Post: <%= link_to post.title, post %><br/>
<% end %>
<%= link_to "Create new post", new_post_path %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
